.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  min-width: 100px;
  padding: 6px 8px;
  z-index: 1;
}

.dropdown-content li a {
  color: #f8f8ff;
  opacity: 92%;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content li a:hover {
  color: white;
  opacity: 100%;
}
